.header {
	background-color: #E3BDFC;
	font-family: 'Tangerine', 'OFL Sorts Mill Goudy TT', Arial, sans-serif;
	border-radius: 5px;
	border: 1px solid #d4d4d4;
	
}

.header img {
	margin-right: 40px;
	padding: 10px;
	border-radius: 15px;
}

.header h1 {
	font-size: 60px;
}


body {
	padding-top: 40px;
	margin: auto;
	width: 1000px;
	background-color: #fefefe;
		}
		
.tonleiter {
	height: 80px;
	width: 400px;
	
}

.frage {
	font-size: 20px;
	margin: 40px 0px;
	padding: 5px;
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: none;
}



.intervalname {
	background: red;
	float: left;
}


.commands {
	margin-bottom: 40px;
	float: right; 
}

.counter {
	display: none;
	background-color: #eee;
	width: 100px;
	padding-left: 5px;
	border-radius: 5px;
}

.richtigeAntwort, .falscheAntwort, .keineAntwort, .weiter {
	display: none;
}


.info {
	height: 20px;
	width: 20px;
	background-color: #3E86F7;
	border-radius: 5px;
	color: white;
	font-size: 30px;
	font-family: serif;
	text-align: center;
	padding: 5px;  
	display: inline-block;
	margin-left: 40px; 
}

.notenbild  {
	height: 80px;
	width: 80px; 
}

.loesung {
	height: 20px;
	background-color: blue;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	font-family: serif;
	text-align: center;
	padding: 5px;  
	display: inline-block;
	margin-top: 40px;
	
}

.loesungsbild {
	display: none;
	margin-top: 20px;
	
}





