.header {
	background-color: #E3BDFC;
	font-family: 'Tangerine', 'OFL Sorts Mill Goudy TT', Arial, sans-serif;
	
}

.header img {
	margin-right: 20px;
	opacity: 1px;
}

.header h1 {
	font-size: 60px;
}


body {
	padding-top: 40px;
	margin: auto;
	width: 1000px;
	background-color: #fefefe;
}

.frage {
	font-size: 20px;
	color: blue;
	margin: 20px 0px;
	background-color: lightgreen;
	display: none;
}

.intervalname {
	background: red;
}